<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>YWM</title>
<link th:href="@{/css/style.css}" rel="stylesheet">
<script type="text/javascript" th:inline="javascript"
	th:src="@{https://code.jquery.com/jquery-3.4.1.min.js}"></script>
<script type="text/javascript" th:inline="javascript"
	th:src="@{https://cdnjs.cloudflare.com/ajax/libs/jquery-csv/1.0.21/jquery.csv.min.js}"></script>
</head>

<body class="in-body">

	<!--ヘッダー共通部分 -->
	<input type="hidden" id="login-user" th:name="${name}"th:value="${name}" />
	<div id="header"><header></header>
	<!--ヘッダー共通部分 -->

	<main>
		<p class="view-title">権限検索</p>
		<div class="search-form">
			<form th:action="@{/roleSearch}" th:object="${roleSearchDto}"
				method="get">
				<label class="search-label">権限ID</label> <input type="text"
					id="roleId" name="roleId"><br> <label
					class="search-label">権限コード</label> <input type="text" id="roleCode"
					name="roleCode"><br> <label class="search-label">権限名</label>
				<input type="text" id="roleName" name="roleName"><br> <label
					class="search-label">マスタ権限</label> <input type="checkbox"
					name="mpCreate" value="1" /><label>登録</label> <input
					type="checkbox" name="mpRead" value="1" /><label>参照</label> <input
					type="checkbox" name="mpUpdate" value="1" /><label>更新</label> <input
					type="checkbox" name="mpDelete" value="1" /><label>削除</label><br>
				<label class="search-label">有効/無効</label> <input type="checkbox"
					id="valid" name="valid" value="1" /><label for="valid">有効のみ</label><br>
				<input type="hidden" name="viewType" value="search" />
				<button class="submit" type="submit" value="Submit">検索</button>
				<button class="reset" type="reset" value="Reset">リセット</button>
				<button class="register" type="register" value="Register">
					<a th:href="@{/roleRegister}">新規登録</a>
				</button>
			</form>
		</div>
		<a class="search-msg" th:if="${msg}" th:text="${msg}"></a>
		<table>
			<tr th:if="${roles}">
				<th>権限ID</th>
				<th id="fix">権限コード</th>
				<th id="fix">権限名</th>
				<th id="fix">マスタ権限</th>
				<th id="fix">有効/無効</th>
				<th></th>
			</tr>
			<tr class="data-table" th:each="item: ${roles}">
				<td class="fix" th:text="${item.roleId}"></td>
				<td class="fix" th:text="${item.roleCode}"></td>
				<td class="fix" th:text="${item.roleName}"></td>
				<td class="fix" th:text="${item.masterPermission}"></td>
				<td class="fix" th:if="${item.validFlag} eq true">有効</td>
				<td class="fix" th:if="${item.validFlag} eq false">無効</td>
				<td><a th:href="@{/rolerRef(roleId=${item.roleId})}"><img
						class="edit" th:src="@{/img/edit.png}" height="20px"></a></td>
			</tr>
		</table>
	</main>
	<footer></footer>
</body>
<script th:src="@{/js/common.js}"></script>
<script th:src="@{/js/top.js}"></script>
</html>