<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>YWM</title>
<link th:href="@{/css/style.css}" rel="stylesheet">
<script type="text/javascript" th:inline="javascript"
	th:src="@{https://code.jquery.com/jquery-3.4.1.min.js}"></script>
<script type="text/javascript" th:inline="javascript"
	th:src="@{https://cdnjs.cloudflare.com/ajax/libs/jquery-csv/1.0.21/jquery.csv.min.js}"></script>
</head>
<body class="in-body">
	<input type="hidden" id="login-user" th:name="${name}"th:value="${name}" />
	<div id="header"><header></header>
	</div>
	<main>
		<!-- 時計 -->
		<div class="container">
			<div class="clock"></div>
			<!-- カレンダー -->
			<div class="calendar-widget">
				<div id="calendar"></div>
				<button class="calendar-btn" id="btn_prev">＜</button>
				<button class="calendar-btn" id="btn_next">＞</button>

			</div>
	</main>
	<footer></footer>
</body>
<script th:src="@{/js/common.js}"></script>
<script th:src="@{/js/top.js}"></script>

</html>