<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>YWM</title>
<link th:href="@{/css/style.css}" rel="stylesheet">
<script type="text/javascript" th:inline="javascript"
	th:src="@{https://code.jquery.com/jquery-3.4.1.min.js}"></script>
<script type="text/javascript" th:inline="javascript"
	th:src="@{https://cdnjs.cloudflare.com/ajax/libs/jquery-csv/1.0.21/jquery.csv.min.js}"></script>
</head>
<body class="in-body">

	<!--ヘッダー共通部分 -->
	<input type="hidden" id="login-user" th:name="${name}"th:value="${name}" />
	<div id="header"><header></header>
	<!--ヘッダー共通部分 -->

	<main>
		<input type="hidden" id="user-view-name" value="register" />
		<p class="view-title">ユーザ登録画面</p>
		<div class="register-form">
			<form th:action="@{/userRegister}" method="post">
				<label class="input-label" for="userId">ユーザID</label> <input
					type="text" id="userId" name="userId" required><br> <label
					class="input-label">ユーザ名</label> <input type="text" name="lastName"
					placeholder="姓" required> <input type="text"
					name="firstName" placeholder="名" required><br> <label
					class="input-label">ユーザ名(カナ)</label> <input type="text"
					name="lastNameKana" placeholder="セイ"> <input type="text"
					name="firstNameKana" placeholder="メイ"><br> <label
					class="input-label" for="email">メールアドレス</label> <input type="email"
					id="email" name="email"><br> <label
					class="input-label" for="password">パスワード</label> <input
					type="password" id="password" name="password" required><br>
				<input type="submit" value="登録">
				<button class="cancel" type="cancel" value="Cancel">
					<a th:href="@{/userSearch}">キャンセル</a>
			</form>
		</div>
		<a class="msg" id="error-msg" th:text="${errorMsg}"></a></br> <a
			class="msg" id="msg" th:text="${msg}"></a></br>
	</main>
	<footer></footer>
</body>
<script th:src="@{/js/common.js}"></script>
<script th:src="@{/js/user.js}"></script>
</html>